<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokedex</title>

    <!-- Partial to head.ejs -->
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/detailed-view.css">
</head>
<body>
    <div class="container">
        <a href="/" class="home-link">← Home</a>
        <div class="row">
            <!-- Image -->
            <div class="col-4" id="left">
                <div class="image-wrapper">
                    <img src="<%= pokemonimageUrl %>" alt="<%= pokemon.name %>">
                </div>
                <!-- Previous and Next Buttons -->
                <div class="buttons-wrapper">
                    <a class="btn btn-primary" href="/pokemon/<%= +id - 1;  %>">Previous</a>
                    <a class="btn btn-primary" href="/pokemon/<%= +id + 1;  %>">Next</a>
                </div>
            </div>
            <!-- Details -->
            <div class="col-8">
                <h1><%= pokemon.name %></h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Types</th>
                            <th>Abilities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <% pokemon.types.forEach((type) => { %>
                                        <li><%= type.type.name %></li>
                                    <% }); %>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <% pokemon.abilities.forEach((ability) => { %>
                                        <li><%= ability.ability.name %></li>
                                    <% }); %>
                                </ul>
                            </td>
                            
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Weaknesses</th>
                            <th>Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <% pokemonWeaknesses.forEach((weakness) => { %>
                                        <li><%= weakness %></li>
                                    <% }); %>
                                </ul>
                            </td>
                            <td>
                                <table class="table table-stats table-borderless">
                                    <tbody>
                                        <% pokemon.stats.forEach((stat) => { %>
                                            <tr>
                                                <td><%= stat.stat.name %></td>
                                                <td><%= stat.base_stat %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>

    


</body>
</html>